<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <template>
      <div class="app-container">
        <el-row>
          <el-col :span="24">
            <el-col :span="24">
              <h2>在线人数: {{ count }}</h2>
            </el-col>
    
            <el-col id="chatRecord" :span="24" class="content padding-15">
              <!-- <el-col v-for="(item, index) in groupChat" :key="index" :span="24" :class="clientId === item.clientId ? 'text-right' : ''">
                <p>{{ item.name }} <small style="color: #909399">{{ rTime(item.created_at) }}</small></p>
                <p>{{ item.message }}</p>
              </el-col>  -->
              <el-col>
                <!-- <textarea v-model="send"></textarea> -->
                <p id="text" />
              </el-col>
            </el-col>
    
            <el-col :span="24" class="padding-15">
              <el-col :span="18">
                <el-input
                  ref="input"
                  v-model="textarea"
                  type="text"
                  placeholder="请输入内容"
                  autosize
                  resize="none"
                  maxlength="100"
                  show-word-limit
                  @keyup.enter.native="send"
                />
              </el-col>
    
              <el-col :span="5" :offset="1">
                <el-button type="primary" @click="send">发送</el-button>
              </el-col>
            </el-col>
          </el-col>
        </el-row>
      </div>
    </template>
  </head>

  <body>
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      /* axios配置 请求-处理-响应*/
      axios.defaults.timeout = 2000 /*响应时间*/
      axios.defaults.headers.post['Content-Type'] =
        'application/x-www-form-urlencoded;charset=UTF-8' // 配置post请求头
      axios.defaults.headers.get['Content-Type'] =
        'application/json;charset=UTF-8' // 配置get请求头
      axios.defaults.baseURL = 'http://www.syf.com' // 配置接口地址
      
      axios
        .post('http://www.syf.com/learn.php', params)
        .then(
          (response) => {
            console.log(response)
          },
          (err) => {
            console.log(err)
          }
        )
        .catch((error) => {
          console.log(error)
        })

      // Vue.prototype.$http = axios;
      export default {
        name: 'web',
        data () {
          return {
            textarea: ''
          }
        },
        methods:
      }


    </script>
  </body>
</html>
