<template>
  <div class="app-container">
    <el-row>
      <el-col :span="24">
        <el-col :span="24">
          <h2>在线人数: {{ count }}</h2>
        </el-col>

        <el-col id="chatRecord" :span="24" class="content padding-15">
          <!-- <el-col v-for="(item, index) in groupChat" :key="index" :span="24" :class="clientId === item.clientId ? 'text-right' : ''">
            <p>{{ item.name }} <small style="color: #909399">{{ rTime(item.created_at) }}</small></p>
            <p>{{ item.message }}</p>
          </el-col>  -->
          <el-col>
            <!-- <textarea v-model="send"></textarea> -->
            <p id="text" />
          </el-col>
        </el-col>

        <el-col :span="24" class="padding-15">
          <el-col :span="18">
            <el-input
              ref="input"
              v-model="textarea"
              type="text"
              placeholder="请输入内容"
              autosize
              resize="none"
              maxlength="100"
              show-word-limit
              @keyup.enter.native="send"
            />
          </el-col>

          <el-col :span="5" :offset="1">
            <el-button type="primary" @click="send">发送</el-button>
          </el-col>
        </el-col>
      </el-col>
    </el-row>
  </div>
</template>

<script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module">
  import { listMsg, sendMsg } from '../api/learn'
  export default {
    name: 'chat',
    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        chatVisible: this.value,
        loading: false,
        defualtAvatar: require('../../assets/defult-avatar.svg'), // 后端没有返回头像默认头像，注意：需要用require请求方式才能动态访问本地文件
        data: [],
        distincData: [], // 消息去重数组
        offsetMax: 0, // 最大偏移位，记录当前获取的最大id，往后的定时轮询数据时每次只获取比这个id大的数据
        offsetMin: 0, // 最小偏移位，记录当前获取的最小id，往上滑动时每次只获取比这小id大的数据
        searchForm: {
          // 每次定时获取数据或首次加载数据提交的form表单数据
          pageNumber: 1,
          pageSize: 20,
        },
        form: {
          // 发送数据提交数据表单
          content: '',
          msg: '',
        },
        timerSwitch: 0, // 定时器开关，默认关闭
      }
    },
    methods: {
      
    },
    mounted() {},
  }
</script>

<style lang="less">
  .message {
    height: 350px;
  }
  .ivu-card-body {
    padding: 5px;
  }
  .ivu-modal-body {
    padding: 0px 16px 16px 16px;
  }
  .chat-message-body {
    background-color: #f8f8f6;
    width: 545px;
    height: 350px;
    overflow: auto;
  }
  .message-card {
    margin: 5px;
  }
  .message-row-left {
    display: flex;
    flex-direction: row;
  }
  .message-row-right {
    display: flex;
    flex-direction: row-reverse;
  }
  .message-content {
    margin: -5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
  }
  .message-body {
    border: 1px solid #d9dad9;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
  }
  .message-time {
    margin: 0 5px;
    font-size: 5px;
    color: #d9dad9;
  }
  .footer-btn {
    float: right;
    margin-bottom: 5px;
  }
  .spin-icon-load {
    animation: ani-spin 1s linear infinite;
  }
  @keyframes ani-spin {
    form {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
